body {
  background-color: #0a0a0a;
}

section {
    padding: 100px 0 !important;
}

:root {
    --primary-color: #00B7B5;
    --primary-color-dark: #005461;
    --background-dark: #0a0a0a;
    --background-light: #1a1a1a;
    --text-color: #ffffff;
    --text-color-muted: #888888;
    --glow-color: #005461;
    --glow-shadow: #005461;
}

.glow-text {
    text-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color), 0 0 30px var(--glow-color);
}

.navbar {
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--background-light);
    z-index: 999;
    padding: 25px 0;
}

.navbar-brand {
    font-size: 2.2rem;
    font-weight: 700;
    position: relative;
    z-index: 1;
    background:linear-gradient(45deg, var(--primary-color), #005461);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s linear;
    text-decoration: none !important;
}

.navbar-brand::before {
    content: "";
    position: absolute;
    width: 160%;
    height: 160%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, var(--primary-color) 0%, transparent 70%);
    filter: blur(20px);
    opacity: 0.15;
    z-index: -1;
    transition: all 0.2s linear;
}

.active-link {
    color: var(--primary-color) !important;
    border-bottom: 1px solid var(--primary-color);
}

.nav-link {
    color: white;
    transition: all 0.4s linear;
}

.nav-link:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    text-shadow: 0 0 15px rgba(0, 255, 0, 0.4);
}

.nav-links a:hover,
.nav-links a.active {
    color: var(--primary-color);
}

.navbar-toggler {
    background-color: var(--glow-shadow) !important;
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.contact-btn {
    padding: 0.7rem 1.6rem;
    background: transparent;
    border: 1.5px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 25px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s linear;
    overflow: hidden;
    position: relative;
    z-index: 999;
}

.contact-btn:hover {
    color: var(--background-dark) !important;
    border-color: var(--background-dark) !important;
}

.contact-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    background: var(--primary-color);
    transform: translate(-50%, -50%) rotate(45deg) translateY(100%);
    transition: all 0.4s linear;
    z-index: -1;
}

.contact-btn:hover::before {
    transform: translate(-50%, -50%) rotate(45deg) translateY(0) !important;
}

.profile-img img {
    animation: shadowGlow 3.5s linear infinite;
    background-color: var(--background-light) !important;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.2s linear;
    box-shadow: var(--glow-shadow);
}

.profile-img:hover img {
    cursor: pointer;
    transform: scale(1.05);
}

.abt-page h5 {
    color: var(--primary-color) !important;
    padding-top: 35px;
    font-weight: 400;
}

.abt-page h1 {
    font-size: clamp(28px, 4.5vw, 56px) !important;
}

.abt-page h1 span {
    color: var(--primary-color) !important;
    font-size: clamp(28px, 4.5vw, 56px) !important;
}

.abt-page h2 {
    font-size: clamp(30px, 5.5vw, 60px) !important;
}

.abt-page p {
    font-size: 20px !important;
    text-align: left !important;
}

.btn-group {
    margin-top: 30px;
}

.primary-btn {
    background: var(--primary-color) !important;
    color: var(--background-dark) !important;
    border: none;
}

.primary-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 84, 97, 0.3);
}

.download-cv {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    color: var(--text-color);
    border: 2px solid var(--primary-color);
    text-decoration: none;
}

.download-cv:hover {
    background: var(--primary-color) !important;
    color: var(--background-dark) !important;
    transform: translateY(-2px) !important;
    box-shadow: 0 5px 15px rgba(0, 84, 97, 0.3) !important;
}

.primary-btn,
.download-cv {
    padding: clamp(8px, 2vw, 12px) clamp(15px, 3vw, 25px) !important;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
}

.glow-button {
    box-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color);
    transition: all 0.3s linear;
}

.my-badge i {
    color: var(--background-light);
    font-size: 23px;
}

.my-badge {
    position: absolute;
    bottom: 71px;
    right: 86px;
    width: 60px;
    height: 60px;
    background-color: var(--primary-color) !important;
}

.abt-service {
    color: white !important;
    text-align: center !important;
    background: rgba(15, 15, 15, 0.95);
    border: 1px solid rgba(0, 84, 97, 0.3);
    padding: 40px 30px;
    border-radius: 20px;
    height: 100%;
    position: relative;
    transition: all 0.4s linear;
    margin: 30px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.abt-service:hover {
    transform: translateY(-15px) scale(1.02);
    box-shadow: 0 15px 30px rgba(0, 84, 97, 0.15);
    border-color: rgba(0, 84, 97, 0.3);
    cursor: pointer;
}

.service-icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(45deg, rgba(0, 84, 97, 0.05), rgba(0, 84, 97, 0.1));
    border-radius: 50%;
    border: 2px solid rgba(0, 84, 97, 0.1);
}

.service-icon::before {
    content: '';
    position: absolute;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, rgba(0, 255, 0, 0.1), transparent 70%);
    filter: blur(20px);
    opacity: 0.15;
    z-index: -1;
    transition: all 0.4s linear;
}

.service-icon i {
    color: var(--primary-color);
    font-size: 45px !important;
}

.abt-service h3 {
    font-size: clamp(28px, 4.5vw, 40px) !important;
}

.group-icon {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.group-icon li {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background: rgba(0, 84, 97, 0.05) !important;
    border-radius: 12px;
    transition: all 0.3s linear;
    border: 1px solid rgba(0, 84, 97, 0.05);
}

.group-icon li:hover {
    transform: translateX(5px);
    background: rgba(0, 84, 97, 0.1) !important;
    border-color: rgba(0, 84, 97, 0.1) !important;
}

.group-icon li i {
    color: var(--primary-color);
    margin-right: 12px;
    font-size: 1rem !important;
    background-color: var(--background-light) !important;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.sec-head span {
    letter-spacing: 4px;
    background: var(--glow-shadow) !important;
    color: var(--primary-color);
    padding: 8px 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.1);
    animation: floatEffect 3s ease-in-out infinite;
    border: 1px solid rgba(0, 255, 0, 0.2);
}

.sec-head h2 {
    margin-bottom: 60px;
    color: var(--primary-color);
    font-size: clamp(28px, 4.5vw, 56px) !important;
    font-weight: 800;
    letter-spacing: 5px;
    transition: all 0.2s linear;
}

.sec-head h2:hover {
    transform: scale(1.1) !important;
    cursor: pointer;
}

.head-line {
    width: 200px;
    height: 3px;
    background: linear-gradient(90deg, transparent 0%, var(--primary-color) 25%, var(--primary-color) 75%, transparent 100%);
    margin: 30px auto;
}

@keyframes shadowGlow {
    0% {
        box-shadow: 0 0 10px rgba(0, 84, 97, 0.4),
                    0 0 20px rgba(0, 84, 97, 0.2);
    }

    50% {
        box-shadow: 0 0 25px rgba(0, 84, 97, 0.8),
                    0 0 50px rgba(0, 84, 97, 0.5);
    }

    100% {
        box-shadow: 0 0 10px rgba(0, 84, 97, 0.4),
                    0 0 20px rgba(0, 84, 97, 0.2);
    }
}


.glow-effect {
    box-shadow: 0 0 20px var(--glow-color), 0 0 40px rgba(0, 255, 0, 0.2);
    animation: pulse 2s infinite;
}

.experience-badge {
    position: absolute;
    top: 25px;
    right: 80px;
    width: 150px;
    height: 150px;
    background: var(--primary-color) !important;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--background-dark);
    text-align: center;
    z-index: 2;
}

.experience-badge .years {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
}

.experience-badge .text {
    font-size: 0.9rem;
    line-height: 1.2;
}

.abt-me {
    color: var(--text-color);
    line-height: 1.8;
}

.my-skill .progress {
    background-color: var(--background-light) !important;
    height: 8px;
    border-radius: 20px;
}

.my-skill .progress-bar {
    background-color: var(--primary-color) !important;
    border-radius: 20px;
}

.skill-card {
    margin-top: 55px;
    padding: 30px 20px;
    text-align: center;
    background: var(--background-light) !important;
    border-radius: 15px;
    transition: all 0.3s linear;
}

.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: var(--glow-shadow);
    cursor: pointer;
}

.skill-card i,
h3 {
    color: var(--primary-color);
    background-color: transparent !important;
    font-size: 2.5rem;
}

.skill-card span {
    color: var(--text-color-muted);
}

.skill-title h3 {
    font-size: clamp(28px, 4.5vw, 40px) !important;
}

.project-card img {
    height: 100% !important;
    border: 2px solid var(--text-color-muted) !important;
    transition: all 0.2s linear;
}

.project-card img:hover {
    transform: scale(1.04) !important;
    box-shadow:
        0 0 10px rgba(0, 84, 97, 0.7),
        0 0 30px rgba(0, 84, 97, 0.5),
        0 0 60px rgba(0, 84, 97, 0.3);
            cursor: pointer;
}

.project-info h3,
p {
    text-align: center !important;
}

.project-info h3 {
    color: var(--primary-color) !important;
    font-size: 25px !important;
    margin-top: 20px !important;
}

.project-info p {
    color: var(--text-color) !important;
}

.client-card {
    padding: 20px;
    transition: all 0.3s linear;
    width: 300px !important;
    height: 300px !important;
}

.client-card img {
    border: 1px solid var(--primary-color) !important;
    transition: all 0.3s linear;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    background:none !important;
    background: rgba(26, 26, 26, 0.9) !important;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 50px !important;
    border-radius: 25px;
    border: 2px solid rgba(0, 84, 97, 0.1);
    transition: all 0.2s linear;
}

.swiper-slide:hover{
    transform: translateY(-5px);
    border-color: var(--primary-color);
    box-shadow: 0 10px 30px rgba(0, 84, 97, 0.1);
    cursor: pointer;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-img{
    z-index: 1;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto 20px;
    border-radius: 50% !important;
    border: 3px solid var(--primary-color) !important;
}

.slide-img img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.people-info{
    display: block !important;
}

.people-info i{
    color: var(--primary-color-dark) !important;
}

.people-info p{
    color: white !important;
    margin-bottom: 20px;
    font-size: 18px;
    font-style: italic !important;
}

.about-person{
    margin-top: 20px;
}

.about-person h4{
    color: var(--primary-color) !important;
}

.about-person span{
    color: var(--text-color-muted) !important;
}

.bg-none{
    background: none !important;
}

.contact-card {
    background: var(--primary-color-dark);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid var(--primary-color);
    transition: all 0.3s linear;
}

.contact-card h3{
    font-size: 20px !important;
}

.contact-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: var(--primary-color-dark);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon i{
    color: var(--primary-color);
    font-size: 1.5rem;
}

.form-control {
    width: 100%;
    padding: 15px 20px;
    background: var(--primary-color-dark);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary-color);
}

textarea.form-control {
    min-height: 150px;
    resize: vertical;
}

.submit-btn {
    background: var(--primary-color);
    color: var(--background-dark);
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.contact-form {
    background: var(--primary-color);
    border-radius: 20px;
    padding: 75px;
    border: 1px solid var(--primary-color-dark);
}

.form-message {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeSlideDown 0.3s forwards;
}

.footer-content h3{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    background: linear-gradient(45deg, var(--primary-color), #005461);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-content p{
    color: var(--text-color);
}

.social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--primary-color-dark);
    color: var(--primary-color);
    font-size: 1.2rem;
    transition: all 0.3s linear;
}

.social-link:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.footer-content {
    text-align: center;
}

.footer-content h4{
    color: var(--text-color);
}

.footer-content ul li{
    color: var(--text-color-muted);
    list-style: none;
    font-size: 20px;
    transition: all 0.2s linear;
}

.footer-content ul li:hover{
    cursor: pointer;
    color: var(--primary-color);
    transform: translateY(-5px);
    border-bottom: 1px solid var(--primary-color);
}

.footer-bottem{
    border-top: 1px solid var(--primary-color);
    padding: 30px 0;
}

.footer-bottem p{
    color: var(--text-color-muted);
}

.footer-bottem i{
    color: var(--primary-color);
}

.footer-bottem a {
    color: var(--primary-color) !important;
}

.scroll-top button{
    background-color: transparent;
    border: none;
}

.scroll-top button i{
    color: var(--primary-color);
    font-size: 1.2rem;
    position: relative;
    z-index: 2;
    transition: all 0.3s linear;
}

.scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: var(--primary-color-dark);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transform: translateY(20px);
}