* {
    background-color: #0a0a0a !important;
}

:root {
    --primary-color: #00ff00;
    --primary-color-dark: #00cc00;
    --background-dark: #0a0a0a;
    --background-light: #1a1a1a;
    --text-color: #ffffff;
    --text-color-muted: #888888;
    --glow-color: rgba(0, 255, 0, 0.5);
    --glow-shadow: rgba(0, 255, 0, 0.5) 0px 0px 38.664px 0px, rgba(0, 255, 0, 0.282) 0px 0px 55.992px 0px;
}

.navbar {
    border-bottom: 1px solid var(--primary-color);
    padding: 25px 0;
}

.navbar-brand {
    font-size: 2.2rem;
    font-weight: 700;
    position: relative;
    z-index: 1;
    background: linear-gradient(45deg, var(--primary-color), #00ffaa);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s linear;
    text-decoration: none !important;
}

.navbar-brand::before {
    content: "";
    position: absolute;
    width: 160%;
    height: 160%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, var(--primary-color) 0%, transparent 70%);
    filter: blur(20px);
    opacity: 0.15;
    z-index: -1;
    transition: all 0.2s linear;
}

.active-link {
    color: var(--primary-color) !important;
    border-bottom: 1px solid var(--primary-color);
}

.nav-link {
    color: white;
    transition: all 0.2s linear;
}

.nav-link:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.contact-btn {
    padding: 0.7rem 1.6rem;
    background: transparent;
    border: 1.5px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 25px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s linear;
    overflow: hidden;
    position: relative;
    z-index: 999;
}

.contact-btn:hover {
    color: var(--background-dark) !important;
    border-color: var(--background-dark) !important;
}

.contact-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    background: var(--primary-color);
    transform: translate(-50%, -50%) rotate(45deg) translateY(100%);
    transition: all 0.4s linear;
    z-index: -1;
}

.contact-btn:hover::before {
    transform: translate(-50%, -50%) rotate(45deg) translateY(0) !important;
}

.profile-img img {
    background-color: var(--background-light) !important;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: var(--glow-shadow);
    transition: all 0.2s linear;
}

.profile-img img:hover {
    cursor: pointer;
    transform: scale(1.1);
}